<h4 class="font-black font-mono text-5xl text-center mb-4">Personajes</h4>
<ul class="w-11/12 border-2 divide-y-2 divide-dotted text-base border-gray-400 divide-gray-400">

  <li *ngFor="
  let character of characterList;
  let i = index;
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd;
"
  class="list-group-item d-flex justify-content-between align-items-center">


  <div>
    <span class="text-primary"> {{ i + 1 }}. </span>
    <span>{{ character.name }} - </span>
    <strong>Power: </strong>
    <span>{{ character.power }}</span>
  </div>

  <button (click)="onDeleteCharacter( character.id )" class="btn btn-danger">X</button>

  </li>

</ul>
